@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* snap scrolling */
html,
body {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

/* Text stroke */
.text-stroke {
  -webkit-text-stroke: 1px white;
}
